<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Add Listing</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-margin-top ion-padding">
        <div class="help-text"><a class="help" style="margin-top: 1px"><i class="fa fa-question"></i> </a></div>
        <ion-label class="title-label">Listing Title*</ion-label>
        <ion-input type="text" class='listing-title' placeholder="Staple and Fancy Hotel" name="title"
                   [(ngModel)]="Listing.title"></ion-input>
        <ion-input type="text" class="listing-title" placeholder="Tagline Example:Best Express Mexican Grill"
                   name="type" [(ngModel)]="Listing.type"></ion-input>
    </div>

    <ion-label class="city-label ion-padding">Upload Featured Image</ion-label>

    <div class="img-upload-content ion-padding" style="margin-top: 40px;">

        <div class="jFiler-input-dragDrop pos-relative">
            <div class="jFiler-input-inner">
                <div class="jFiler-input-icon">
                    <i class="icon-jfi-cloud-up-o"></i>
                </div>
                <div class="jFiler-input-text">
                    <h3 style="margin:20px 0px;">Drop files here or click to upload</h3>
                </div>
                <a class="jFiler-input-choose-btn blue" (click)="selectFeatured()">Browse Files</a>
            </div>
        </div>
        <div class="row" *ngIf="featuredImage">
            <div class="column" *ngFor="let img of featuredImage; index as pos">

                <img [src]="img.path" style="width:100%"/>
                <a class="delete" (click)="deleteFeatured()"><i class="fa fa-trash"></i></a>

            </div>
        </div>
    </div>

    <div class="ion-margin-top ion-padding" style="margin-top: 90px;">
        <ion-label class="city-label">City</ion-label>
        <div class="help-text"><a class="help"><i class="fa fa-question"></i> </a></div>
        <ion-input type="text" class='city-title' placeholder="select your listing region" name="city"
                   [(ngModel)]="Listing.city"></ion-input>
        <ion-label class="city-label">Full Address(Geolocation)</ion-label>
        <div class="help-text"><a class="help"><i class="fa fa-question"></i> </a></div>
        <ion-input type="text" class='city-title' [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()"
                   placeholder="Start typing and find your place in google map"></ion-input>
        <ion-list [hidden]="autocompleteItems.length == 0">

            <ion-item-sliding *ngFor="let item of autocompleteItems">
                <ion-item tappable (click)="selectSearchResult(item)">
                    {{ item.description }}
                </ion-item>

            </ion-item-sliding>
            <ion-buttons>
                <ion-button (click)="close()">Done</ion-button>
            </ion-buttons>

        </ion-list>
        <ion-label class="city-label">Phone</ion-label>
        <ion-input type="number" class='city-title' placeholder="111-111-123" name="phone"
                   [(ngModel)]="Listing.phone"></ion-input>
        <ion-label class="city-label">Website</ion-label>
        <ion-input type="text" class='city-title' placeholder="http://" name="website"
                   [(ngModel)]="Listing.website"></ion-input>
    </div>

    <div class="ion-margin-top">
        <ion-list>
            <ion-label class="timing-label ion-padding">Add Business Hours</ion-label>
            <ion-select name="day" [(ngModel)]="dayname" [selectedText]="dayname" class="days-dropdwn">
                <ion-select-option selected>Monday</ion-select-option>
                <ion-select-option>Tuesday</ion-select-option>
                <ion-select-option>Wednesday</ion-select-option>
                <ion-select-option>Thursday</ion-select-option>
                <ion-select-option>Friday</ion-select-option>
                <ion-select-option>Saturday</ion-select-option>
                <ion-select-option>Sunday</ion-select-option>
            </ion-select>
            <ion-item>
                <ion-label>Start Time</ion-label>
                <ion-datetime display-format="h:mm a" picker-format="h:mm a" value="07:43z"
                              [(ngModel)]="strattime"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>End Time</ion-label>
                <ion-datetime display-format="h:mm a" picker-format="h:mm a" value="07:43z"
                              [(ngModel)]="etime"></ion-datetime>
            </ion-item>
        </ion-list>
        <ion-list [hidden]="!timings">
            <ion-item *ngFor="let time of timings ; index as pos">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <div>{{ time.day}}</div>
                        </ion-col>
                        <ion-col>
                            <div>{{ time.startTime | date: "h:mm a" }}</div>
                        </ion-col>
                        <ion-col>
                            <div>{{ time.endTime | date: "h:mm a" }}</div>
                        </ion-col>
                        <ion-col>
                            <div (click)="deleteTime(time)" class="listing-time-delete">Remove</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>

        </ion-list>
        <ion-button (click)="addListingTime()">add timing</ion-button>


    </div>

    <div class="category-list ion-padding">
        <ion-label class="timing-label">Category *</ion-label>
        <ion-select name="category" [(ngModel)]="Listing.category" [selectedText]="Listing.category">
            <ion-select-option class="city-title" *ngFor="let cat of listingCategories;"
                               [value]="replaceSign(cat.name)">{{replaceSign(cat.name)}}</ion-select-option>
        </ion-select>

    </div>

    <div class="price-range-list ion-padding">
        <ion-label class="timing-label">Price Range</ion-label>
        <ion-select name="pricerange" [(ngModel)]="Listing.pricerange" [selectedText]="Listing.pricerange">
            <ion-select-option class="city-title" *ngFor="let pr of priceRange; index as i" [selected]="i === 0"
                               [value]="pr">{{pr}}</ion-select-option>
        </ion-select>
        <ion-label class="city-label">Price From</ion-label>
        <ion-input type="number" class='city-title' placeholder="Price From" name="priceFrom"
                   [(ngModel)]="Listing.priceFrom"></ion-input>
        <ion-label class="city-label">Price to</ion-label>
        <ion-input type="number" class='city-title' placeholder="Price to" name="priceTo"
                   [(ngModel)]="Listing.priceTo"></ion-input>
    </div>

    <div class="descrptn-portion ion-padding">
        <ion-label class="timing-label">Description*</ion-label>
        <ion-textarea type="text" class="desc-text" rows="6" cols="20" name="description"
                      [(ngModel)]="Listing.description"></ion-textarea>
        <ion-label class="city-label">FAQ</ion-label>
        <ion-input type="text" class='city-title' placeholder="Faq" name="faq"
                   [(ngModel)]="listingFaqs.questions"></ion-input>
        <ion-textarea rows="5" cols="20" class='desc-text' name="answer" placeholder="Answer"
                      [(ngModel)]="listingFaqs.answers"></ion-textarea>
    </div>

    <div class="btns-faqs ion-padding">
        <button class="faq-btn">FAQ</button>
        <button class="add-btn" (click)="addFaqs()"><i class="fa fa-plus"></i></button>
    </div>

    <div class="social-content ion-padding">
        <ion-input type="text" class='city-title' placeholder="Your Twitter URL" name="twitterUrl"
                   [(ngModel)]="Listing.twitterUrl"></ion-input>
        <ion-input type="text" class='city-title' placeholder="Your Facebook URL" name="facebookUrl"
                   [(ngModel)]="Listing.facebookUrl"></ion-input>
        <ion-input type="text" class='city-title' placeholder="Your LinkedIn URL" name="linkedInUrl"
                   [(ngModel)]="Listing.linkedInUrl"></ion-input>
        <ion-input type="text" class='city-title' placeholder="Your Google Plus URL" name="googlePlusUrl"
                   [(ngModel)]="Listing.googlePlusUrl"></ion-input>
        <ion-input type="text" class='city-title' placeholder="Your YouTube URL" name="youtubeUrl"
                   [(ngModel)]="Listing.youtubeUrl"></ion-input>
        <ion-input type="text" class='city-title' placeholder="Your Instagram URL" name="instagramUrl"
                   [(ngModel)]="Listing.instagramUrl"></ion-input>

    </div>

    <div class="social-content ion-padding">
        <ion-label class="timing-label">Tags or keywords(Comma separated)</ion-label>
        <ion-textarea type="text" class='desc-text' name="tags" rows="5" cols="20"
                      placeholder="Enter tags or keywords comma separated." name="tags"
                      [(ngModel)]="Listing.tags"></ion-textarea>

    </div>

    <div class="social-content ion-padding">
        <ion-label class="city-label">Your Business video(Optional)</ion-label>
        <ion-input type="text" class='city-title' name="videoLink" placeholder="https://youtube.com/watch?v=IFncZA5k_1k"
                   [(ngModel)]="Listing.videoLink"></ion-input>

    </div>

    <div class="img-upload-content ion-padding">
        <ion-label class="city-label">Images</ion-label>
        <div class="jFiler-input-dragDrop pos-relative">
            <div class="jFiler-input-inner">
                <div class="jFiler-input-icon">
                    <i class="icon-jfi-cloud-up-o"></i>
                </div>
                <div class="jFiler-input-text">
                    <h3 style="margin:20px 0px;">Drop files here or click to upload</h3>
                </div>
                <a class="jFiler-input-choose-btn blue" (click)="selectImage()">Browse Files</a>
            </div>
        </div>

        <div class="row" *ngIf="images">
            <div class="column" *ngFor="let img of images; index as pos">

                <img [src]="img.path" style="width:100%"/>
                <a class="delete" (click)="deleteImage(img, pos)"><i class="fa fa-trash"></i></a>
            </div>

        </div>
    </div>

    <div class="social-content ion-padding" style="margin-top: 120px;">
        <ion-label class="city-label">Upload Business Logo</ion-label>

        <div class="custom-file">
            <label class="b-logo-img-label" (click)="selectBanner()"><p>
                Browser</p><span>Choose a file…</span><span *ngIf="banners"><span
                    *ngFor="let banner of banners">{{banner.name}}</span></span></label>
        </div>

    </div>

    <div class="social-content ion-padding">
        <label class="input-email">Enter email to signup &amp; recieve notification upon listing approval</label>
        <input type="email" class="city-title" name="contactEmail" placeholder="your contact email"
               [(ngModel)]="Listing.contactEmail">
        <div class="account-cnfrm"><input type="checkbox" value=""><label class="already-account">Already Have
            Account?</label></div>
        <label class="review-label">Click below to review your listing.</label>
        <input type="submit" (click)="addListing()" value="Save &amp; Preview" class="lp-secondary-btn btn-first-hover">
    </div>

</ion-content>
