.my-custom-modal-css .modal-wrapper {
  height: 20%;
  top: 80%;
  position: absolute;
  display: block;
}

.login-fb-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0px 10px 17px;
}