<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<i class="fa fa-window-close fa-2x" style="text-align: end;" (click)="closeRegister()"></i>


<ion-content padding>
    <div *ngIf="!data">
        <form>
            <ion-grid>
                <ion-row justify-content-center>
                    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                        <div text-center>
                            <h3><b>Register</b></h3>
                        </div>
                        <div padding>
                            <ion-item>
                                <ion-input type="text" name="username" placeholder="User Name"
                                           [(ngModel)]="UserData.username"
                                           required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input type="email" name="email" placeholder="Email Address"
                                           [(ngModel)]="UserData.email"
                                           required></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-input type="password" name="password" placeholder="Password"
                                           [(ngModel)]="UserData.password"
                                           required></ion-input>
                            </ion-item>
                        </div>
                        <div padding>
                            <ion-item>
                                <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
                                <ion-label>Keep me Sign in</ion-label>
                            </ion-item>
                        </div>
                        <div padding>
                            <ion-button size="large" type="submit" expand="block" (click)="addUser()">Register
                            </ion-button>
                        </div>
                        <div padding>
                            Already Registered? <a (click)="openLogin()">Sign in</a>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
    <div *ngIf="data">
        <ion-list>
            <ion-item>
                {{data.user_obj.data.user_login}}
            </ion-item>
            <ion-item>
                {{data.user_obj.data.user_email}}
            </ion-item>
            <ion-item>
                <ion-button type="block" (click)="loggedoutUser()">Logout</ion-button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
