.input-fields {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  margin: 17px auto;
  padding: 2px 11px !important;
  width: 79%;
}
ion-button.send-btn {
  height: 66px;
  width: 80%;
  margin: auto;
}
h3.adrs-heading {
  margin-bottom: 20px !important;
  padding-bottom: 20px;
  color: #333;
  border-bottom: 1px solid #e3e3e3;
  margin-left: 31px;
}
.address-part p{
  color: #7f7f7f;
  margin: 31px;
}
span.adrsdata{
  margin:18px;
}
.address-part{
  width: 92%;
  margin: 40px auto;
}
