.cat-img {
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 10px;
  width: 66px;
  height: 66px;
  text-align: center;
  line-height: 66px;
  background: linear-gradient(to right, rgba(72, 156, 234, 1) 0%, rgba(141, 106, 236, 1) 100%);
}

.category {
  text-align: center;
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float: left;
}
.header-item{
  width: 100%;
  background: linear-gradient(to right, rgba(72, 156, 234, 1) 0%, rgba(141, 106, 236, 1) 100%);
  padding-bottom: 18px;
}
.header-item i{
  float: right;
  margin-top: 14px;
  color: white;
  margin-right: 20px;

}
.header-item p.user-name{
  float: right;
  margin-top: 14px;
  color: white;
  margin-right: 20px;
}
.header-item ion-searchbar{
  width: 90%;
  padding: 0;
  margin-left: 5%;
  margin-top: -7px;
}
.header-item p{
  margin-top: 40px;
  text-align: center;
  font-size: 15px;
  color: white;
}

.header-item ion-searchbar .searchbar-search-icon {
  position: absolute;
  right: 7px;
  top: 11px;
  width: 21px;
  height: 21px;
}
.header-item img{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
.cat-img-s {
  margin-top: 15px;
  height: 50%;
  width: 50%;
  border-radius: 3px !important;
}

.loc-img-s {
  height: 140px;
  border-radius: 3px !important;
}

.fields-pos {
  position: absolute;
  z-index: 9999;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  color: white;

}

.exe-card-item {
  background: #8a6aeba6;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ex-img {
  border-radius: 3px !important;
  width: calc(100% - 25px);
}

.listing-app-view-new-rating {
  position: absolute;
  top: 15px;
  right: 19px;
  background: #fff;
  color: green;
  border: 1px solid green;
  border-radius: 14px;
  padding: 3px 5px;
}

.icon-pos-c {
  position: absolute;
  top: 19px;
  left: 19px;
}

.content-main {
  position: absolute;
  bottom: 10px;
  left: 19px;
  text-align: left;
}

.content-main p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.add-btn {
  font-weight: 400;
  display: inline-block !important;
  padding: 3px 8px;
  line-height: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ff9703;
}

.bottom-text {
  font-size: 15px;
  margin-top: 5px;
  bottom: 5px;
}

.listin-content {
  text-align: left;
}

.listings-rating {
  top: 15px;
  right: 19px;
  background: #fff;
  position: absolute;
  color: green;
  float: right;
  border: 1px solid green;
  border-radius: 14px;
  padding: 3px 5px;

}
.listings-rating-danger {
  top: 15px;
  right: 19px;
  position: absolute;
  background: #fff;
  color: red;
  float: right;
  border: 1px solid red;
  border-radius: 14px;
  padding: 3px 5px;

}
.listing-bottom{
  width: 100%;
  padding-bottom: 24px;
}
.listin-content-bottom{
  float: left;
  padding-left: 10px;
  width: 70%;
}
.listing-bottom img{
  width:30%;
  float: left;
  border-radius: 3px !important;
}
.listin-content-bottom p{
  margin-top: 0px;
  margin-bottom: 8px;
}
.img-slide-pos{
  margin-left: 7px
}

.latest-listings-rating {
  top: 0px;
  right: 0px;
  background: #fff;
  position: absolute;
  color: green;
  float: right;
  border: 1px solid green;
  border-radius: 14px;
  padding: 3px 5px;

}
.latest-listings-rating-danger {
  top: 0px;
  right: 0px;
  position: absolute;
  background: #fff;
  color: red;
  float: right;
  border: 1px solid red;
  border-radius: 14px;
  padding: 3px 5px;

}
.down-listings-rating {
  background: #fff;
  color: green;
  float: right;
  margin-right: 10px;
  border: 1px solid green;
  border-radius: 14px;
  padding: 3px 5px;

}
.down-listings-rating-danger {
  background: #fff;
  color: red;
  float: right;
  margin-right: 10px;
  border: 1px solid red;
  border-radius: 14px;
  padding: 3px 5px;

}
.thumb-overlay {
  background-color: #8a6aeba6;
  position: absolute;
  width: calc(100% - 25px);
  height: 100%;
  top: 0;
  z-index: 999;
  border-radius: 3px !important;
}
.footer-app-view-new {
  background-color: #f4f4f4;
  border: solid 1px #d6d6d6;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 11;
  height: 8%;
}
.footer-app-view-new .footer-center-btn {
  position: relative;
}
.center-btn-icon {
  position: absolute;
  width: 110px;
  height: 63px;
  left: 49%;
  margin-left: -50px;
  top: 0;
  margin-top: -28px;
  z-index: 10;
}

.toolbar-container{
  background-color: #f4f4f4;
}
.ion-left-btn{
  float: left;
  position: absolute;
  top: 5%;
  left: 3%;
}
.ion-right-btn{
  float: right;
  position: absolute;
  top: 5%;
  right: 3%;
}
.ion-left-btn i{
  color: #7870e8;
  margin-right: 8px;
  padding: 18px 0;
}
.ion-right-btn i{
  color: #7870e8;
  margin-right: 8px;
  padding: 18px 0;
}
.ion-padding-bottom, [padding-bottom] {
  --padding-bottom: var(--ion-padding, 38px);
  padding-bottom: var(--ion-padding, 16px);
}
.tabs-layout{
  width: 100%;
  padding-bottom: 60px;
  height: 75%;
}
.hotels-items{
 padding: 20px 20px;
  width: 100%;
}
.my-custom-modal-css .modal-wrapper {
  height: 20%;
  top: 80%;
  position: absolute;
  display: block;
}
.title-header{
  margin-left: 14px;
}
.populr-items-slider{
  padding: 8px;
}
.fab-home{
  position: absolute;
  top: -17px;
}
