$colors: (primary: linear-gradient(to right, rgba(72, 156, 234, 1) 0%, rgba(141, 106, 236, 1) 100%),
        secondary: #ffffff);
.srch-icon {
  float: right;
  margin-top: 10px;
  margin-right: 9px;
}

.user-icon {
  float: right;
  margin-top: 10px;
  margin-right: 9px;
}

ion-toolbar img {
  float: left;
  margin-left: 14px;
}

.banner-content {
  width: 100%;
  position: relative;
  background-color: white;
}

.banner-content img {
  width: 100%;
  height: 100%;
}

.banner-items {
  position: absolute;
  left: 28px;
  bottom: 21px;
  color: white;
}

.banner-items span {
  border: 1px solid green;
  border-radius: 14px;
  color: green;
  background: white;
  padding: 6px 11px;
}

.banner-items span i {
  margin-right: 2px;
}

p.title {
  font-size: 23px;
  margin-top: 19px;
  margin-bottom: 2px;
  font-weight: 600;
}

p.detail {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
}

.banner-buttons {
  position: absolute;
  bottom: -8px;
  left: 6%;
}

button.share-btn {
  margin-left: 15px;
  border: 1px solid grey;
  border-radius: 11px;
  padding: 7px 13px;
  background: #ffffff;
  color: darkslategrey
}

button.menu-btn {
  border: 1px solid grey;
  border-radius: 11px;
  padding: 7px 13px;
  position: absolute;
  right: 14px;
  background: #ffffff;
  bottom: -9px;
  color: darkslategrey
}

button.save-btn {
  border: 1px solid grey;
  border-radius: 11px;
  padding: 7px 13px;
  background: #ffffff;
  color: darkslategrey
}

.timing-portion {
  text-align: left;
  margin-top: 16px;
  padding: 2px 15px;
}

span.status {
  color: red;
  display: inline;
  margin-left: 4px;
}

span.res-timing {
  color: darkslategray;
  margin: 4px;
  display: inline
}

span.drop-icon {
  float: right;
}

.promotion {
  padding: 2px 10px;
  color: white;
}

span.pencil-icon {
  display: inline;
  margin-right: 5px;
}

ion-card.prom-card {
  background-color: #339966;
  border: white 1px dotted;

}

.announcement {
  padding: 2px 10px;
  color: black;
}
.announcement p{
  font-size: smaller;
}

span.readmore {
  color: #7e57ff;
  float: right;
  font-size: smaller;
  margin-top: 1px;
}

ion-card.ann-card {
  background-color: #d6d6d6;


}

span.ann-icon i {
  color: #7e57ff;
  display: inline;
  margin-right: 5px;
}

h4.rating-headr {
  font-weight: 700;
  font-family: sans-serif;
}

.rating-progress {
  float: left;
  width: 40%;
}

.cirle-prgrs {
  float: right;
  margin-top: 20px;
}

.rating-portion p {
  font-family: sans-serif;
}

.rev-btn {
  margin-top: 40px;
  padding: 22px;
  text-align: center;
  border-top: #383a3e solid 1px;
  border-bottom: #ffffff solid 1px;

}

button.fb-btn {
  background-color: blue;
  color: #ffffff;
  width: 33.5%;
  padding: 15px 23px;
}

button.tw-btn {
  background-color: #3880ff;
  color: #ffffff;
  width: 33%;
  padding: 15px 23px;
}

button.pint-btn {
  background-color: red;
  color: #ffffff;
  width: 33.5%;
  padding: 15px 23px;
}

ion-item i {
  color: #7e57ff;
  margin-right: 3px;
}

.rev-btn i {
  color: #7e57ff;
  margin-right: 3px;
}

.mapouter {
  position: relative;
  text-align: right;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 250px;
  width: 100%;
}
.gmap_canvas iframe {
  width: 100%;
  height: 100%;
}

.footer-app-view-new {
  background-color: #f4f4f4;
  border: solid 1px #d6d6d6;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 11;
  height: 8%;
}
.footer-app-view-new .footer-center-btn {
  position: relative;
}
.center-btn-icon {
  position: absolute;
  width: 110px;
  height: 63px;
  left: 49%;
  margin-left: -50px;
  top: 0;
  margin-top: -28px;
  z-index: 10;
}
.ion-left-btn{
  float: left;
  position: absolute;
  top: 5%;
  left: 3%;
}
.ion-right-btn{
  float: right;
  position: absolute;
  top: 5%;
  right: 3%;
}
.ion-left-btn i{
  color: #7870e8;
  margin-right: 8px;
  padding: 18px 0;
}
.ion-right-btn i{
  color: #7870e8;
  margin-right: 8px;
  padding: 18px 0;
}
.tabs-layout{
  width: 100%;
  padding-bottom: 60px;
  height: 75%;
}
.ion-padding-bottom, [padding-bottom] {
  --padding-bottom: var(--ion-padding, 38px);
  padding-bottom: var(--ion-padding, 16px);
}
.status-portion{
  margin-top: 16px;
  padding: 2px 15px;
}
.status-portion b{
  margin-left: 5px;
}
ion-list.schedule-list{
  transition-delay: 500ms;
  transition-duration: 0s, 500ms, 500ms;
}
