.title-header {
  margin-left: 14px;
}

.listin-content-bottom {
  float: left;
  padding-left: 10px;
  width: 70%;
}

.down-listings-rating-danger {
  background: #fff;
  color: red;
  float: right;
  border: 1px solid red;
  border-radius: 14px;
  padding: 3px 5px;
  margin-top: 15px;

}

.bottom-text {
  font-size: 15px;
  margin-top: 5px;
  bottom: 5px;
}
.category {
  text-align: center;
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float: left;
}
.listing-bottom{
  width: 100%;
  padding-bottom: 24px;
}
.featured-img{
  width: 120px;
  float: left;
}
